<%= stylesheet_link_tag "welcome.css" %>

<div class="welcome col-md-offset-6">
  <p class="lead"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Keep track of the important planting data</p>
  <p class="lead"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  See season averages for each crop</p>
  <p class="lead"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Learn from other growers</p>
</div>