<%= form_for [@crop, @varietal] do |f| %>
  <div class="form-group dropdown col-sm-12">
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group col-sm-12">
    <%= f.submit "Add Varietal", :class => 'btn btn-default' %>
  </div>

<% end %>
