<h1>Planting Records</h1>

<h2 class="welcome col-md-12 text-center">Add a New Planting Record</h2>

<h2 class="welcome col-md-12 text-center">Bed To Be Harvested</h2>

<h2 class="welcome col-md-12 text-center">Harvested Beds</h2>