<h1>Planting Records</h1>

<p class="welcome col-md-12 text-center lead">Add a New Planting Record</p>

<%= render partial: "form" %>

<p class="welcome col-md-12 text-center lead">Beds To Be Harvested</p>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Planting Date</td>
      <td>Planting Size</td>
      <td>Crop</td>
      <td>Variety</td>
      <td>Qty of Seed</td>
      <td>Harvest Date</td>
      <td>Yield</td>
      <td>Notes</td>
    </tr>
  </thead>
  <tbody>
    <% @plantings.each do |planting| %>
    <tr>
      <td><%= planting.date %></td>
      <td>Tray</td>
      <td>Sunflower</td>
      <td>Black Oilseed</td>
      <td>2 ounces</td>
      <td></td>
      <td></td>
      <td><%= planting.notes %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p class="welcome col-md-12 text-center lead">Harvested Beds</p>
<table class="table table-hover">
  <thead>
    <tr>
      <td>Planting Date</td>
      <td>Planting Size</td>
      <td>Crop</td>
      <td>Variety</td>
      <td>Qty of Seed</td>
      <td>Harvest Date</td>
      <td>Yield</td>
      <td>Notes</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7/15/15</td>
      <td>Tray</td>
      <td>Sunflower</td>
      <td>Black Oilseed</td>
      <td>2 ounces</td>
      <td>7/21/15</td>
      <td>45 ounces</td>
      <td>First Crop</td>
    </tr>
  </tbody>
</table>